* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", arial;
  background-color: hsl(212, 45%, 89%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.qr_code {
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  border-radius: 20px;
  box-shadow: 1px 32px 131px -63px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 32px 131px -63px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 32px 131px -63px rgba(0, 0, 0, 0.75);
}

.qr_image {
  width: 280px;
  height: auto;
  border-radius: 5%;
  margin: 15px;
}

.qr_title {
  font-weight: 700;
  color: hsl(220, 15%, 55%);
}

.qr_text {
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  margin: 10px 0 40px 0;
}
